@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

$fonts: (
    cursive: 'Dancing Script',
    standard: 'Cabin'
);
$fontSizes: (
    standard: 1em,
    large: 1.2em,
    larger: 1.3em,
    header: 1.4em,
    title: 2.4em
);
@function getFont($font) {
    @return map-get($fonts, $font);
}
@function getFontSize($fontSize) {
    @return map-get($fontSizes, $fontSize);
}