$fonts: (
    cursive: 'Dancing Script'
);
$fontSizes: (
    standard: 16px,
    large: 18px,
    header: 32px,
    title: 42px
);
@function getFont($font) {
    @return map-get($fonts, $font);
}
@function getFontSize($fontSize) {
    @return map-get($fontSizes, $fontSize);
}