@import "./styles";
@import "./fonts";

section {
    padding: getPadding(standard);

    & .wrapper {
        padding: getPadding(large);

        & .notice {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: getMargin(standard);

            & .icon {
                width: 25px;
                height: 25px;
                background-size: contain;
            }
        }
    }

    &:nth-child(odd) {
        @include theme-light;

        & > .wrapper {
            border-left: getBorder("double", getColor(solids, dark));
            border-right: getBorder("double", getColor(solids, dark));
        }
        &:first-child > .wrapper {
            border-top: getBorder("double", getColor(solids, dark));
        }
        &:last-child > .wrapper {
            border-bottom: getBorder("double", getColor(solids, dark));
        }

        & .divider {
            @include divider-light;
            margin: 0;
        }
        & .notice {
            color: black;
            & .icon {
                background-image: url("./../icons/info-black.png");
            }
        }
        & .title, .header {
            color: black;
            font-weight: bold;

            & .decoration {
                &.left {
                    background-image: url("./../icons/decor2-black-left.png");
                }
                &.right {
                    background-image: url("./../icons/decor2-black-right.png");
                }
            }
        }
        & .underTitle {
            color: getColor(solids, dark);
        }
    }
    &:nth-child(even) {
        @include theme-dark;
        & > .wrapper {
            border-left: getBorder("double", getColor(solids, light));
            border-right: getBorder("double", getColor(solids, light));
        }

        &:first-child > .wrapper {
            border-top: getBorder("double", getColor(solids, light));
        }
        &:last-child > .wrapper {
            border-bottom: getBorder("double", getColor(solids, light));
        }
        & .title, .header {
            color: white;
            text-shadow: getShadow(text, standard);

            & .decoration {
                &.left {
                    background-image: url("./../icons/decor2-white-left.png");
                }
                &.right {
                    background-image: url("./../icons/decor2-white-right.png");
                }
            }
        }
        & .underTitle {
            color: getColor(solids, light);
        }
        & .notice {
            color: lightgrey;
            text-shadow: getShadow(text, standard);
            & .icon {
                background-image: url("./../icons/info-white.png");
            }
        }
    }

    & .divider {
        @include divider-dark;
        margin: 0;
    }

    & .bigdivider {
        margin-top: -10px;
        display: flex;
        justify-content: center;
        width: 100%;

        & img {
            max-width: 90%;
            height: auto;
        }
    }
}

.h-divider {
    margin: auto;
    margin-top: -31px;
    margin-bottom: 40px;
    width: 80%;
    position: relative;

    & .shadow {
        overflow: hidden;
        height: 20px;

        &:after {
            content: '';
            display: block;
            margin: -25px auto 0;
            width: 100%;
            height: 25px;
            border-radius: 125px/12px;
            box-shadow: 0 0 8px black;
        }
    }

    & .text {
        width: 100px;
        height: 45px;
        padding: 10px;
        position: absolute;
        bottom: 100%;
        margin-bottom: -33px;
        left: 50%;
        margin-left: -60px;
        border-radius: 100%;
        color: getColor(solids, dark);
        box-shadow: 0 2px 4px black;
        background: white;
    
        & i {
            position: absolute;
            top: 4px;
            bottom: 4px;
            left: 4px;
            right: 4px;
            border-radius: 100%;
            border: 1px dashed getColor(solids, dark);
            text-align: center;
            line-height: 50px;
            font-style: normal;
            font-family: getFont(cursive);
            font-size: 22px;
            font-weight: bold;
        }
    }
  }