$colors: (
    solids: (
        dark: rgb(41, 41, 41),
        light: rgb(196, 177, 166),
        wine: rgb(134, 0, 0),
        gold: #cead54
    ),
    gradients: (
        gold: linear-gradient(to bottom right, #D1B464, #8A6E2F),
        silver: linear-gradient(to bottom right, lightgrey, grey),
        steel: linear-gradient(to bottom right,rgb(49, 49, 49), black),
        light: linear-gradient(to bottom right,rgb(196, 177, 166), rgb(148, 123, 107)),
        wine: linear-gradient(to bottom right, rgb(194, 34, 34), rgb(107, 0, 0)),
        grape: linear-gradient(to bottom right, rgb(146, 19, 146), rgb(53, 0, 53))
    )
);
@function getColor($category, $key) {
    @return map-get(map-get($colors, $category), $key);
}

$paddings: (
    small: 5px,
    standard: 10px,
    large: 20px,
);
@function getPadding($key) {
    @return map-get($paddings, $key);
}

$margins: (
    standard: 10px,
    large: 20px,
    larger: 30px
);
@function getMargin($key) {
    @return map-get($margins, $key);
}

$border-radiuses: (
    small: 15px,
    standard: 25px,
);
@function getRadius($key) {
    @return map-get($border-radiuses, $key);
}

$shadows: (
    box: (
        standard: 0 0 8px black,
        exaggerated: 0 4px 8px 0 black,
    ),
    text: (
        standard: 0.1em 0.1em 0.2em black
    )
);
@function getShadow($category, $key) {
    @return map-get(map-get($shadows, $category), $key);
}

$borders: (
    double: 4px double,
    solid: 1px solid
);
@function getBorder($key, $color) {
    @return map-get($borders, $key) $color;
}

$transitions: (
    standard: ease all 200ms
);
@function getTransition($key) {
    @return map-get($transitions, $key);
}


