@use './styles' as styles;

@mixin theme-light {
    background: styles.getColor(gradients, light);
    color: styles.getColor(solids, dark);
}

@mixin theme-dark {
    background: styles.getColor(gradients, steel);
    color: styles.getColor(solids, light);
}

@mixin theme-gold {
    background: styles.getColor(gradients, gold);
    color: styles.getColor(solids, dark);
}

@mixin section-light {
    @include theme-light;
    & > .wrapper {
        border-left: styles.getBorder(double, styles.getColor(solids, dark));
        border-right: styles.getBorder(double, styles.getColor(solids, dark));
    }
}

@mixin section-dark {
    @include theme-dark;
    & > .wrapper {
        border-left: styles.getBorder(double, styles.getColor(solids, light));
        border-right: styles.getBorder(double, styles.getColor(solids, light));
    }
}

@mixin divider {
    margin: 8px 0;
    position: relative;
                
    &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 2px;
        box-shadow: inset styles.getShadow(box, standard);
    }
    
}

@mixin divider-dark {
    @include divider;

    border-bottom: 1px solid rgba(128, 128, 128, 0.8);

    &::after {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }
} 

@mixin divider-light {
    @include divider;

    border-bottom: 1px solid rgba(224, 224, 224, 0.2);

    &::after {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: inset styles.getShadow(box, standard-light);
    }
} 