@import "_styles"; 

@mixin theme-light {
    background: getColor(gradients, light);
    color: getColor(solids, dark);
}

@mixin theme-dark {
    background: getColor(gradients, steel);
    color: getColor(solids, light);
}

@mixin section-light {
    @include theme-light;
    & > .wrapper {
        border-left: getBorder(double, getColor(solids, dark));
        border-right: getBorder(double, getColor(solids, dark));
    }
}

@mixin section-dark {
    @include theme-dark;
    & > .wrapper {
        border-left: getBorder(double, getColor(solids, light));
        border-right: getBorder(double, getColor(solids, light));
    }
}

@mixin divider {

    margin: 8px 0;
    position: relative;
                
    &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 2px;
        box-shadow: inset getShadow(box, standard);
    }
    
}

@mixin divider-dark {
    @include divider;


    border-bottom: 1px solid rgba(128, 128, 128, 0.8);

    &::after {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }
    
} 