@use "./../../scss/common/common" as common;

.serviceItem {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: common.getMargin(standard);
    padding: common.getPadding(small) common.getPadding(large);
    box-shadow: common.getShadow(box, standard);
    border-radius: 50px;
    background: common.getColor(gradients, light);
    position: relative;

    &.unavailable {
        &:hover {
            transform: none;
            filter: none !important;
        }
    }

    & .unavailable-overlay {
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        border-radius: 50px;
        left: 0;
        top: 0;
        position: absolute;
    }

    & .unavailable-text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: white;
    }

    &.included {
        background: common.getColor(gradients, silver);
    }

    &.paid {
        background: common.getColor(gradients, gold);
    }

    & img {
        width: 42px;
    }
    
    & .divider {
        margin: 3px 0;
    }

    & .header {
        color: black !important;
        text-shadow: none !important;
        font-weight: bold;
    }

    & .underTitle {
        color: common.getColor(solids, dark) !important;
    }

    &:hover {
        transform: scale(1.02);
    }
}