@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

$cursive: 'Dancing Script', cursive;
$basic: 'Cabin', sans-serif; 

$medium: 17px;
$large: 19px;