$beige: rgb(196, 177, 166);
$wine: rgb(134, 0, 0);
$red: rgb(243, 55, 55);
$lightred: rgb(199, 49, 49);
$pink: pink;
$orange: orange;
$gold: rgb(212, 186, 67);
$green: rgb(107, 211, 107);
$turqouise: rgb(38, 177, 147);

$darkgrey: rgb(41, 41, 41);
$lightgrey: grey;

