@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
.page {
  background: rgb(41, 41, 41);
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.8) 0 5em 15em 0;
  margin: 0;
  color: white;
  display: grid;
  grid-auto-flow: column;
}
.page .content {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
}
.page .content .header {
  color: black;
  background: linear-gradient(to right, rgb(196, 177, 166), rgb(41, 41, 41) 60%);
  padding: 3px 8px;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
  border-bottom: 1px solid rgb(41, 41, 41);
  box-shadow: 0 2px 4px 0 black;
}
.page .content .drink {
  background: linear-gradient(to right, rgb(107, 211, 107), rgb(41, 41, 41) 60%);
}
.page .content .drink-alc {
  background: linear-gradient(to right, rgb(38, 177, 147), rgb(41, 41, 41) 60%);
}
.page .content .cocktail {
  background: linear-gradient(to right, pink, rgb(41, 41, 41) 60%);
}
.page .content .meal {
  background: linear-gradient(to right, rgb(199, 49, 49), rgb(41, 41, 41) 60%);
}
.page .content .dessert {
  background: linear-gradient(to right, orange, rgb(41, 41, 41) 60%);
}
.page .content .items {
  padding: 10px;
  display: grid;
  grid-gap: 5px;
  align-content: start;
}
.page .content .items .spacer {
  border-bottom: 1px solid grey;
}
.page .content .footer {
  display: grid;
  justify-items: center;
  border-top: 1px solid grey;
}

.drink {
  background-image: url("./../img/drinks.jpg");
}

.drink-alc {
  background-image: url("./../img/drinks-alc.jpg");
}

.cocktail {
  background-image: url("./../img/cocktails.jpg");
}

.meal {
  background-image: url("./../img/meals.jpg");
}

.dessert {
  background-image: url("./../img/desserts.jpg");
}

.herb {
  background-image: url("./../img/herbs.jpg");
}

.menuItem {
  display: flex;
  gap: 5px;
}
.menuItem .column {
  display: grid;
  align-content: start;
}
.menuItem .column .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuItem .column .image {
  display: flex;
  align-items: center;
}
.menuItem .column .image img {
  width: 120px;
}
.menuItem .name {
  font-size: 17px;
  color: rgb(243, 55, 55);
}
.menuItem .price {
  color: rgb(212, 186, 67);
}
.menuItem .ingredients {
  margin-top: 5px;
  color: rgb(196, 177, 166);
}

.cover {
  background: green;
}

* {
  font-family: "Cabin", sans-serif;
}

section {
  padding: 10px;
}
section .wrapper {
  padding: 10px;
}
section:nth-child(odd) {
  background: rgb(196, 177, 166);
  color: rgb(41, 41, 41);
}
section:nth-child(odd) > .wrapper {
  border-left: 4px double rgb(41, 41, 41);
  border-right: 4px double rgb(41, 41, 41);
}
section:nth-child(odd):first-child > .wrapper {
  border-top: 4px double rgb(41, 41, 41);
}
section:nth-child(odd):last-child > .wrapper {
  border-bottom: 4px double rgb(41, 41, 41);
}
section:nth-child(even) {
  background: rgb(41, 41, 41);
  color: rgb(196, 177, 166);
}
section:nth-child(even) > .wrapper {
  border-left: 4px double rgb(196, 177, 166);
  border-right: 4px double rgb(196, 177, 166);
}
section:nth-child(even):first-child > .wrapper {
  border-top: 4px double rgb(196, 177, 166);
}
section:nth-child(even):last-child > .wrapper {
  border-bottom: 4px double rgb(196, 177, 166);
}

.h-divider {
  margin: auto;
  margin-top: -21px;
  margin-bottom: 40px;
  width: 80%;
  position: relative;
}
.h-divider .shadow {
  overflow: hidden;
  height: 20px;
}
.h-divider .shadow:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px black;
}
.h-divider .text {
  width: 100px;
  height: 45px;
  padding: 10px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -33px;
  left: 50%;
  margin-left: -60px;
  border-radius: 100%;
  color: rgb(41, 41, 41);
  box-shadow: 0 2px 4px black;
  background: white;
}
.h-divider .text i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed rgb(41, 41, 41);
  text-align: center;
  line-height: 50px;
  font-style: normal;
  font-family: "Dancing Script";
  font-size: 22px;
  font-weight: bold;
}

button {
  all: unset;
}
button :hover {
  cursor: pointer;
}

html {
  background: rgb(41, 41, 41);
}

main {
  width: 1000px;
  box-shadow: 0 0 8px black;
  margin: 20px auto;
}

.staff .collection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  align-items: end;
}
.staff .collection .item .image {
  height: 350px;
  display: grid;
  align-items: end;
  overflow-y: hidden;
}
.staff .collection .item .image img {
  width: 100%;
}
.staff .collection .item .text {
  background: rgb(41, 41, 41);
  padding: 5px;
  text-align: center;
  box-shadow: 0 0 8px black;
  border: 4px double white;
}
.staff .collection .item .text .name {
  color: white;
  font-size: 26px;
  font-family: "Dancing Script";
  text-shadow: 0.1em 0.1em 0.2em black;
}
.staff .collection .item .text .positions {
  color: rgb(196, 177, 166);
}/*# sourceMappingURL=main.css.map */