@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@font-face {
  font-family: "Cabin";
  src: url("./../fonts/cabin/Cabin-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Cabin";
  src: url("./../fonts/cabin/Cabin-Bold.ttf") format("truetype");
  font-weight: bold;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.modal {
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  z-index: 99;
}

.modal .background {
  position: inherit;
  left: inherit;
  top: inherit;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: grid;
  place-content: center;
}

.modal .content {
  box-shadow: 0 4px 8px 0 black;
  border: 4px double rgb(196, 177, 166);
  z-index: 100;
  position: relative;
}

.modal .content .titleBar {
  color: white;
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 3px 3px 0 3px;
}

.modal .content .titleBar .closeButton {
  box-shadow: 0 2px 8px black;
}

.modal .content .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.8);
}

.modal .content .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 2px 8px black;
}

.modal .content .divider::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 990px) {
  .modal .content {
    width: auto;
  }
}
section {
  padding: 10px;
  position: relative;
}

section .anchor {
  display: block;
  position: absolute;
  top: -80px;
  visibility: hidden;
}

section .wrapper {
  padding: 20px;
}

section .wrapper .notice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

section .wrapper .notice .icon {
  width: 25px;
  height: 25px;
  background-size: contain;
}

section:nth-child(odd) {
  background: linear-gradient(to bottom right, rgb(196, 177, 166), rgb(148, 123, 107));
  color: rgb(41, 41, 41);
}

section:nth-child(odd) > .wrapper {
  border-left: 4px double rgb(41, 41, 41);
  border-right: 4px double rgb(41, 41, 41);
}

section:nth-child(odd):first-child > .wrapper {
  border-top: 4px double rgb(41, 41, 41);
}

section:nth-child(odd):last-child > .wrapper {
  border-bottom: 4px double rgb(41, 41, 41);
}

section:nth-child(odd) .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(224, 224, 224, 0.2);
  margin: 0;
}

section:nth-child(odd) .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 2px 8px black;
}

section:nth-child(odd) .divider::after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 4px rgb(136, 119, 108);
}

section:nth-child(odd) .notice {
  color: black;
}

section:nth-child(odd) .notice .icon {
  background-image: url("./../icons/info-black.png");
}

section:nth-child(odd) .title, section:nth-child(odd) .header {
  color: black;
  font-weight: bold;
}

section:nth-child(odd) .title .decoration.left, section:nth-child(odd) .header .decoration.left {
  background-image: url("./../icons/decor2-black-left.png");
}

section:nth-child(odd) .title .decoration.right, section:nth-child(odd) .header .decoration.right {
  background-image: url("./../icons/decor2-black-right.png");
}

section:nth-child(odd) .underTitle {
  color: rgb(41, 41, 41);
}

section:nth-child(even) {
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  color: rgb(196, 177, 166);
}

section:nth-child(even) > .wrapper {
  border-left: 4px double rgb(196, 177, 166);
  border-right: 4px double rgb(196, 177, 166);
}

section:nth-child(even):first-child > .wrapper {
  border-top: 4px double rgb(196, 177, 166);
}

section:nth-child(even):last-child > .wrapper {
  border-bottom: 4px double rgb(196, 177, 166);
}

section:nth-child(even) .title, section:nth-child(even) .header {
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}

section:nth-child(even) .title .decoration.left, section:nth-child(even) .header .decoration.left {
  background-image: url("./../icons/decor2-white-left.png");
}

section:nth-child(even) .title .decoration.right, section:nth-child(even) .header .decoration.right {
  background-image: url("./../icons/decor2-white-right.png");
}

section:nth-child(even) .underTitle {
  color: rgb(196, 177, 166);
}

section:nth-child(even) .notice {
  color: lightgrey;
  text-shadow: 0.1em 0.1em 0.2em black;
}

section:nth-child(even) .notice .icon {
  background-image: url("./../icons/info-white.png");
}

section .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.8);
  margin: 0;
}

section .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 2px 8px black;
}

section .divider::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

section .bigdivider {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

section .bigdivider img {
  max-width: 90%;
  height: auto;
}

.h-divider {
  margin: auto;
  margin-top: -31px;
  margin-bottom: 40px;
  width: 80%;
  position: relative;
}

.h-divider .shadow {
  overflow: hidden;
  height: 20px;
}

.h-divider .shadow:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px black;
}

.h-divider .text {
  width: 100px;
  height: 45px;
  padding: 10px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -33px;
  left: 50%;
  margin-left: -60px;
  border-radius: 100%;
  color: rgb(41, 41, 41);
  box-shadow: 0 2px 4px black;
  background: white;
}

.h-divider .text i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed rgb(41, 41, 41);
  text-align: center;
  line-height: 50px;
  font-style: normal;
  font-family: "Dancing Script";
  font-size: 22px;
  font-weight: bold;
}

.about {
  margin-bottom: 20px;
}
.about .header {
  margin-bottom: 6px;
}
.about .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(224, 224, 224, 0.2);
  margin: 4px 0 2px 0;
}
.about .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 2px 8px black;
}
.about .divider::after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 4px rgb(136, 119, 108);
}
.about .intro {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.about .intro .about .text {
  margin: getMargin(standard) 0;
}
@media only screen and (max-width: 880px) {
  .about .intro {
    grid-template-columns: 1fr;
  }
  .about .intro .galleryButton {
    max-width: 100%;
    margin: getMargin(larger);
  }
}
.about .collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  align-items: end;
  margin-top: 20px;
}
.about .collection .backgroundDecor {
  position: absolute;
  z-index: 99;
  display: none;
}
.about .collection .item {
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  border-radius: 15px;
  box-shadow: 0 2px 8px black;
  border: 1px solid black;
  transition: ease all 200ms;
  background-image: url("./../icons/oasis-palm-shade.webp"), linear-gradient(to bottom right, rgb(49, 49, 49), black);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Cabin";
}
.about .collection .item:hover {
  transform: scale(1.02);
}
.about .collection .item .banner {
  background: linear-gradient(to bottom right, #D1B464, #8A6E2F);
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid black;
  color: black;
  padding: 5px;
}
.about .collection .item .banner.owner {
  background: linear-gradient(to bottom right, rgb(107, 0, 0), rgb(49, 0, 0));
  color: lightgrey;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.about .collection .item .banner.assistant {
  background: linear-gradient(to bottom right, #712E5F, #290d21);
  color: lightgrey;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.about .collection .item .banner.event-manager {
  background: linear-gradient(to bottom right, #803A5C, #27121c);
  color: lightgrey;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.about .collection .item .banner.marketing-manager {
  background: linear-gradient(to bottom right, #3d378d, #121035);
  color: lightgrey;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.about .collection .item .banner .specialPosition {
  text-align: center;
  font-family: "Dancing Script";
  font-size: 1.3em;
}
.about .collection .item .image {
  height: 270px;
  display: grid;
  align-items: end;
  overflow-y: hidden;
}
.about .collection .item .image img {
  width: 100%;
}
.about .collection .item .text {
  background: linear-gradient(to bottom right, #D1B464, #8A6E2F);
  padding: 5px;
  text-align: center;
  box-shadow: 0 2px 8px black;
  border-radius: 0 0 15px 15px;
  border-top: 1px solid black;
}
.about .collection .item .text .name {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Cabin";
}
.about .collection .item .text .positions {
  color: rgb(41, 41, 41);
  font-size: 14px;
  font-family: "Cabin";
}
@media only screen and (max-width: 1100px) {
  .about .collection {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
  .about .collection .item .image {
    height: 300px;
  }
}
@media only screen and (max-width: 880px) {
  .about .collection {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
  .about .collection .item .image {
    height: 320px;
  }
}
@media only screen and (max-width: 737px) {
  .about .collection {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .about .collection .item .image {
    height: 380px;
  }
}
@media only screen and (max-width: 550px) {
  .about .collection {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  .about .collection .item .image {
    height: 100%;
  }
}

@font-face {
  font-family: "Cabin";
  src: url("./../fonts/cabin/Cabin-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Cabin";
  src: url("./../fonts/cabin/Cabin-Bold.ttf") format("truetype");
  font-weight: bold;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.modal {
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  z-index: 99;
}

.modal .background {
  position: inherit;
  left: inherit;
  top: inherit;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: grid;
  place-content: center;
}

.modal .content {
  box-shadow: 0 4px 8px 0 black;
  border: 4px double rgb(196, 177, 166);
  z-index: 100;
  position: relative;
}

.modal .content .titleBar {
  color: white;
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 3px 3px 0 3px;
}

.modal .content .titleBar .closeButton {
  box-shadow: 0 2px 8px black;
}

.modal .content .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.8);
}

.modal .content .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 2px 8px black;
}

.modal .content .divider::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 990px) {
  .modal .content {
    width: auto;
  }
}
section {
  padding: 10px;
  position: relative;
}

section .anchor {
  display: block;
  position: absolute;
  top: -80px;
  visibility: hidden;
}

section .wrapper {
  padding: 20px;
}

section .wrapper .notice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

section .wrapper .notice .icon {
  width: 25px;
  height: 25px;
  background-size: contain;
}

section:nth-child(odd) {
  background: linear-gradient(to bottom right, rgb(196, 177, 166), rgb(148, 123, 107));
  color: rgb(41, 41, 41);
}

section:nth-child(odd) > .wrapper {
  border-left: 4px double rgb(41, 41, 41);
  border-right: 4px double rgb(41, 41, 41);
}

section:nth-child(odd):first-child > .wrapper {
  border-top: 4px double rgb(41, 41, 41);
}

section:nth-child(odd):last-child > .wrapper {
  border-bottom: 4px double rgb(41, 41, 41);
}

section:nth-child(odd) .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(224, 224, 224, 0.2);
  margin: 0;
}

section:nth-child(odd) .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 2px 8px black;
}

section:nth-child(odd) .divider::after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 4px rgb(136, 119, 108);
}

section:nth-child(odd) .notice {
  color: black;
}

section:nth-child(odd) .notice .icon {
  background-image: url("./../icons/info-black.png");
}

section:nth-child(odd) .title, section:nth-child(odd) .header {
  color: black;
  font-weight: bold;
}

section:nth-child(odd) .title .decoration.left, section:nth-child(odd) .header .decoration.left {
  background-image: url("./../icons/decor2-black-left.png");
}

section:nth-child(odd) .title .decoration.right, section:nth-child(odd) .header .decoration.right {
  background-image: url("./../icons/decor2-black-right.png");
}

section:nth-child(odd) .underTitle {
  color: rgb(41, 41, 41);
}

section:nth-child(even) {
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  color: rgb(196, 177, 166);
}

section:nth-child(even) > .wrapper {
  border-left: 4px double rgb(196, 177, 166);
  border-right: 4px double rgb(196, 177, 166);
}

section:nth-child(even):first-child > .wrapper {
  border-top: 4px double rgb(196, 177, 166);
}

section:nth-child(even):last-child > .wrapper {
  border-bottom: 4px double rgb(196, 177, 166);
}

section:nth-child(even) .title, section:nth-child(even) .header {
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}

section:nth-child(even) .title .decoration.left, section:nth-child(even) .header .decoration.left {
  background-image: url("./../icons/decor2-white-left.png");
}

section:nth-child(even) .title .decoration.right, section:nth-child(even) .header .decoration.right {
  background-image: url("./../icons/decor2-white-right.png");
}

section:nth-child(even) .underTitle {
  color: rgb(196, 177, 166);
}

section:nth-child(even) .notice {
  color: lightgrey;
  text-shadow: 0.1em 0.1em 0.2em black;
}

section:nth-child(even) .notice .icon {
  background-image: url("./../icons/info-white.png");
}

section .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.8);
  margin: 0;
}

section .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 2px 8px black;
}

section .divider::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

section .bigdivider {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

section .bigdivider img {
  max-width: 90%;
  height: auto;
}

.h-divider {
  margin: auto;
  margin-top: -31px;
  margin-bottom: 40px;
  width: 80%;
  position: relative;
}

.h-divider .shadow {
  overflow: hidden;
  height: 20px;
}

.h-divider .shadow:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px black;
}

.h-divider .text {
  width: 100px;
  height: 45px;
  padding: 10px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -33px;
  left: 50%;
  margin-left: -60px;
  border-radius: 100%;
  color: rgb(41, 41, 41);
  box-shadow: 0 2px 4px black;
  background: white;
}

.h-divider .text i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed rgb(41, 41, 41);
  text-align: center;
  line-height: 50px;
  font-style: normal;
  font-family: "Dancing Script";
  font-size: 22px;
  font-weight: bold;
}

.menu {
  max-width: 100%;
}
.menu .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.8);
  margin: 4px 0 2px 0;
}
.menu .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 2px 8px black;
}
.menu .divider::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.menu .menuList .category {
  display: grid;
  margin-bottom: getMargin(larger);
}
.menu .menuList .category .header .icon {
  height: 50px;
}
.menu .menuList .category .items {
  display: grid;
  grid-gap: getMargin(larger) getMargin(larger);
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 550px) {
  .menu .menuList .category .items {
    grid-template-columns: 1fr;
  }
  .menu .menuList .category .header .icon {
    display: none;
  }
}

.oldMenu {
  display: grid;
}
.oldMenu .item {
  display: grid;
}
.oldMenu .item .row {
  display: flex;
  justify-content: space-between;
}
.oldMenu .item .row .title {
  color: white;
}
.oldMenu .item .row .price {
  color: getColor(solids, gold);
}
.oldMenu .item .row .description {
  color: getColor(solids, light);
  text-align: left;
}

@font-face {
  font-family: "Cabin";
  src: url("./../fonts/cabin/Cabin-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Cabin";
  src: url("./../fonts/cabin/Cabin-Bold.ttf") format("truetype");
  font-weight: bold;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.modal {
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  z-index: 99;
}

.modal .background {
  position: inherit;
  left: inherit;
  top: inherit;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: grid;
  place-content: center;
}

.modal .content {
  box-shadow: 0 4px 8px 0 black;
  border: 4px double rgb(196, 177, 166);
  z-index: 100;
  position: relative;
}

.modal .content .titleBar {
  color: white;
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 3px 3px 0 3px;
}

.modal .content .titleBar .closeButton {
  box-shadow: 0 2px 8px black;
}

.modal .content .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.8);
}

.modal .content .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 2px 8px black;
}

.modal .content .divider::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 990px) {
  .modal .content {
    width: auto;
  }
}
section {
  padding: 10px;
  position: relative;
}

section .anchor {
  display: block;
  position: absolute;
  top: -80px;
  visibility: hidden;
}

section .wrapper {
  padding: 20px;
}

section .wrapper .notice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

section .wrapper .notice .icon {
  width: 25px;
  height: 25px;
  background-size: contain;
}

section:nth-child(odd) {
  background: linear-gradient(to bottom right, rgb(196, 177, 166), rgb(148, 123, 107));
  color: rgb(41, 41, 41);
}

section:nth-child(odd) > .wrapper {
  border-left: 4px double rgb(41, 41, 41);
  border-right: 4px double rgb(41, 41, 41);
}

section:nth-child(odd):first-child > .wrapper {
  border-top: 4px double rgb(41, 41, 41);
}

section:nth-child(odd):last-child > .wrapper {
  border-bottom: 4px double rgb(41, 41, 41);
}

section:nth-child(odd) .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(224, 224, 224, 0.2);
  margin: 0;
}

section:nth-child(odd) .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 2px 8px black;
}

section:nth-child(odd) .divider::after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 4px rgb(136, 119, 108);
}

section:nth-child(odd) .notice {
  color: black;
}

section:nth-child(odd) .notice .icon {
  background-image: url("./../icons/info-black.png");
}

section:nth-child(odd) .title, section:nth-child(odd) .header {
  color: black;
  font-weight: bold;
}

section:nth-child(odd) .title .decoration.left, section:nth-child(odd) .header .decoration.left {
  background-image: url("./../icons/decor2-black-left.png");
}

section:nth-child(odd) .title .decoration.right, section:nth-child(odd) .header .decoration.right {
  background-image: url("./../icons/decor2-black-right.png");
}

section:nth-child(odd) .underTitle {
  color: rgb(41, 41, 41);
}

section:nth-child(even) {
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  color: rgb(196, 177, 166);
}

section:nth-child(even) > .wrapper {
  border-left: 4px double rgb(196, 177, 166);
  border-right: 4px double rgb(196, 177, 166);
}

section:nth-child(even):first-child > .wrapper {
  border-top: 4px double rgb(196, 177, 166);
}

section:nth-child(even):last-child > .wrapper {
  border-bottom: 4px double rgb(196, 177, 166);
}

section:nth-child(even) .title, section:nth-child(even) .header {
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}

section:nth-child(even) .title .decoration.left, section:nth-child(even) .header .decoration.left {
  background-image: url("./../icons/decor2-white-left.png");
}

section:nth-child(even) .title .decoration.right, section:nth-child(even) .header .decoration.right {
  background-image: url("./../icons/decor2-white-right.png");
}

section:nth-child(even) .underTitle {
  color: rgb(196, 177, 166);
}

section:nth-child(even) .notice {
  color: lightgrey;
  text-shadow: 0.1em 0.1em 0.2em black;
}

section:nth-child(even) .notice .icon {
  background-image: url("./../icons/info-white.png");
}

section .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.8);
  margin: 0;
}

section .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 2px 8px black;
}

section .divider::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

section .bigdivider {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

section .bigdivider img {
  max-width: 90%;
  height: auto;
}

.h-divider {
  margin: auto;
  margin-top: -31px;
  margin-bottom: 40px;
  width: 80%;
  position: relative;
}

.h-divider .shadow {
  overflow: hidden;
  height: 20px;
}

.h-divider .shadow:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px black;
}

.h-divider .text {
  width: 100px;
  height: 45px;
  padding: 10px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -33px;
  left: 50%;
  margin-left: -60px;
  border-radius: 100%;
  color: rgb(41, 41, 41);
  box-shadow: 0 2px 4px black;
  background: white;
}

.h-divider .text i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed rgb(41, 41, 41);
  text-align: center;
  line-height: 50px;
  font-style: normal;
  font-family: "Dancing Script";
  font-size: 22px;
  font-weight: bold;
}

.home {
  display: grid;
  gap: 5px;
  justify-content: center;
}
.home .logo {
  text-align: center;
}
.home .logo img {
  max-width: 80%;
  height: auto;
  margin-bottom: -10px;
}
.home .logo .underTitle {
  font-size: getFontSize(larger);
}
.home .welcome {
  margin: getMargin(larger) 0;
}
.home .welcome .header {
  color: black;
  font-family: getFont(cursive);
  font-size: clamp(3rem, 4vw, 3.5rem);
  font-weight: bold;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  margin: getMargin(standard) 0;
}
.home .welcome .linkbar {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: getMargin(standard);
  margin-bottom: getMargin(standard);
  flex-wrap: wrap;
}
.home .welcome .linkbar a, .home .welcome .linkbar button {
  display: flex;
  align-items: center;
  gap: getMargin(small);
  padding: 2px getPadding(standard);
  text-decoration: none;
  color: lightgrey;
  background: getColor(gradients, steel);
  box-shadow: getShadow(box, standard);
}
.home .welcome .linkbar a.twitch, .home .welcome .linkbar button.twitch {
  background: getColor(gradients, twitch);
}
.home .welcome .linkbar a.discord, .home .welcome .linkbar button.discord {
  background: getColor(gradients, discord);
}
.home .welcome .linkbar a img, .home .welcome .linkbar button img {
  opacity: 0.8;
}
.home .welcome .linkbar a:visited, .home .welcome .linkbar button:visited {
  color: lightgrey;
}
.home .welcome .linkbar a:hover, .home .welcome .linkbar button:hover {
  transform: scale(1.05);
}
.home .partners {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.home .partners .intro {
  justify-self: flex-start;
}
.home .partners .allPartnersButton {
  justify-self: flex-end;
}
.home .venueInfo {
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: getFontSize(large) auto;
  color: black;
}
.home .venueInfo .column {
  display: flex;
  flex-direction: column;
}
.home .venueInfo .column .row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2px 0 4px 0;
}
.home .hall-of-fame .main {
  margin-bottom: 10px;
}
.home .hall-of-fame .main .title, .home .hall-of-fame .main .description {
  margin: 0;
  text-align: center;
}
.home .hall-of-fame .main .description {
  margin-bottom: 5px;
}
.home .hall-of-fame .main .image {
  display: flex;
  justify-content: center;
}
.home .hall-of-fame .main .image .imageButton {
  width: 100%;
  border: 10px solid getColor(solids, dark);
  box-shadow: getShadow(box, standard);
  padding-bottom: 5px;
  margin: 0;
  margin-bottom: 10px;
}
.home .hall-of-fame .main .image .imageButton img {
  width: 100%;
}
.home .hall-of-fame .gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.home .hall-of-fame .gallery .item {
  margin: 10px;
  word-break: normal;
}
.home .hall-of-fame .gallery .item .title {
  margin: 0;
  text-align: center;
  font-weight: bold;
}
.home .hall-of-fame .gallery .item .description {
  text-align: center;
  margin-bottom: 5px;
}
.home .hall-of-fame .gallery .item .image .imageButton {
  margin: 0;
  border: 5px solid getColor(solids, dark);
  box-shadow: getShadow(box, standard);
}
@media only screen and (max-width: 880px) {
  .home .venueInfo {
    grid-template-columns: 1fr;
  }
  .home .venueInfo .galleryButtonWrapper {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 550px) {
  .home .header img {
    display: none;
  }
}

@font-face {
  font-family: "Cabin";
  src: url("./../fonts/cabin/Cabin-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Cabin";
  src: url("./../fonts/cabin/Cabin-Bold.ttf") format("truetype");
  font-weight: bold;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.partners {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.partners .title {
  text-align: center;
  color: rgb(158, 158, 158) !important;
  text-shadow: none !important;
}
.partners .items {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}
.partners .items .item {
  text-decoration: none;
  color: white;
  gap: 5px;
  text-align: center;
  flex-basis: 15%;
}
.partners .items .item:visited {
  color: white;
}
.partners .items .item:hover {
  transform: scale(1.05);
}

@font-face {
  font-family: "Cabin";
  src: url("./../fonts/cabin/Cabin-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Cabin";
  src: url("./../fonts/cabin/Cabin-Bold.ttf") format("truetype");
  font-weight: bold;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.services .servicesTable {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  margin: 10px 0;
  flex-wrap: wrap;
}

@font-face {
  font-family: "Cabin";
  src: url("./../fonts/cabin/Cabin-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Cabin";
  src: url("./../fonts/cabin/Cabin-Bold.ttf") format("truetype");
  font-weight: bold;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
section {
  padding: 10px;
  position: relative;
}
section .anchor {
  display: block;
  position: absolute;
  top: -80px;
  visibility: hidden;
}
section .wrapper {
  padding: 20px;
}
section .wrapper .notice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
section .wrapper .notice .icon {
  width: 25px;
  height: 25px;
  background-size: contain;
}
section:nth-child(odd) {
  background: linear-gradient(to bottom right, rgb(196, 177, 166), rgb(148, 123, 107));
  color: rgb(41, 41, 41);
}
section:nth-child(odd) > .wrapper {
  border-left: 4px double rgb(41, 41, 41);
  border-right: 4px double rgb(41, 41, 41);
}
section:nth-child(odd):first-child > .wrapper {
  border-top: 4px double rgb(41, 41, 41);
}
section:nth-child(odd):last-child > .wrapper {
  border-bottom: 4px double rgb(41, 41, 41);
}
section:nth-child(odd) .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(224, 224, 224, 0.2);
  margin: 0;
}
section:nth-child(odd) .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 2px 8px black;
}
section:nth-child(odd) .divider::after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 4px rgb(136, 119, 108);
}
section:nth-child(odd) .notice {
  color: black;
}
section:nth-child(odd) .notice .icon {
  background-image: url("./../icons/info-black.png");
}
section:nth-child(odd) .title, section:nth-child(odd) .header {
  color: black;
  font-weight: bold;
}
section:nth-child(odd) .title .decoration.left, section:nth-child(odd) .header .decoration.left {
  background-image: url("./../icons/decor2-black-left.png");
}
section:nth-child(odd) .title .decoration.right, section:nth-child(odd) .header .decoration.right {
  background-image: url("./../icons/decor2-black-right.png");
}
section:nth-child(odd) .underTitle {
  color: rgb(41, 41, 41);
}
section:nth-child(even) {
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  color: rgb(196, 177, 166);
}
section:nth-child(even) > .wrapper {
  border-left: 4px double rgb(196, 177, 166);
  border-right: 4px double rgb(196, 177, 166);
}
section:nth-child(even):first-child > .wrapper {
  border-top: 4px double rgb(196, 177, 166);
}
section:nth-child(even):last-child > .wrapper {
  border-bottom: 4px double rgb(196, 177, 166);
}
section:nth-child(even) .title, section:nth-child(even) .header {
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}
section:nth-child(even) .title .decoration.left, section:nth-child(even) .header .decoration.left {
  background-image: url("./../icons/decor2-white-left.png");
}
section:nth-child(even) .title .decoration.right, section:nth-child(even) .header .decoration.right {
  background-image: url("./../icons/decor2-white-right.png");
}
section:nth-child(even) .underTitle {
  color: rgb(196, 177, 166);
}
section:nth-child(even) .notice {
  color: lightgrey;
  text-shadow: 0.1em 0.1em 0.2em black;
}
section:nth-child(even) .notice .icon {
  background-image: url("./../icons/info-white.png");
}
section .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.8);
  margin: 0;
}
section .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 2px 8px black;
}
section .divider::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
section .bigdivider {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  width: 100%;
}
section .bigdivider img {
  max-width: 90%;
  height: auto;
}

.h-divider {
  margin: auto;
  margin-top: -31px;
  margin-bottom: 40px;
  width: 80%;
  position: relative;
}
.h-divider .shadow {
  overflow: hidden;
  height: 20px;
}
.h-divider .shadow:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px black;
}
.h-divider .text {
  width: 100px;
  height: 45px;
  padding: 10px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -33px;
  left: 50%;
  margin-left: -60px;
  border-radius: 100%;
  color: rgb(41, 41, 41);
  box-shadow: 0 2px 4px black;
  background: white;
}
.h-divider .text i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed rgb(41, 41, 41);
  text-align: center;
  line-height: 50px;
  font-style: normal;
  font-family: "Dancing Script";
  font-size: 22px;
  font-weight: bold;
}

.modal {
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  z-index: 99;
}
.modal .background {
  position: inherit;
  left: inherit;
  top: inherit;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: grid;
  place-content: center;
}
.modal .content {
  box-shadow: 0 4px 8px 0 black;
  border: 4px double rgb(196, 177, 166);
  z-index: 100;
  position: relative;
}
.modal .content .titleBar {
  color: white;
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 3px 3px 0 3px;
}
.modal .content .titleBar .closeButton {
  box-shadow: 0 2px 8px black;
}
.modal .content .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.8);
}
.modal .content .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 2px 8px black;
}
.modal .content .divider::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 990px) {
  .modal .content {
    width: auto;
  }
}

@font-face {
  font-family: "Cabin";
  src: url("./../fonts/cabin/Cabin-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Cabin";
  src: url("./../fonts/cabin/Cabin-Bold.ttf") format("truetype");
  font-weight: bold;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.selectNavWrapper {
  display: flex;
}
.selectNavWrapper .selectNav {
  border-radius: 25px;
}
.selectNavWrapper .selectNav .option {
  padding: 10px 20px;
  font-size: clamp(1rem, 2vw, 1.5rem);
  transition: all ease 200ms;
}
.selectNavWrapper .selectNav .option:first-child {
  border-radius: 50px 0 0 50px;
}
.selectNavWrapper .selectNav .option:last-child {
  border-radius: 0 50px 50px 0;
}
.selectNavWrapper .selectNav .option.active {
  background: linear-gradient(to bottom right, #D1B464, #8A6E2F);
  color: black;
  box-shadow: 0 2px 8px black;
}
.selectNavWrapper .selectNav .option.inactive {
  box-shadow: inset 0 2px 8px black;
  color: grey;
}
@media only screen and (max-width: 363px) {
  .selectNavWrapper .option {
    padding: 5px 10px !important;
  }
}

.galleryButton {
  max-width: 450px;
  margin: 20px;
}
.galleryButton .image {
  max-width: inherit;
  position: relative;
}
.galleryButton .image img {
  max-width: inherit;
  margin-bottom: -5px;
  top: 0;
  left: 0;
  box-shadow: 0 4px 8px 0 black;
}
.galleryButton .image img + img {
  position: absolute;
}
.galleryButton .image .topImage {
  transform: rotate(-1deg);
}
.galleryButton .image .bottomImage {
  transition: all ease 200ms;
  filter: brightness(0.3);
  transform: rotate(4deg);
}
.galleryButton:hover {
  transform: scale(1.05) rotate(-1deg);
}
.galleryButton:hover .bottomImage {
  transform: rotate(5deg);
}

@media only screen and (max-width: 880px) {
  .galleryButton {
    max-width: 100%;
    margin: 30px;
  }
}
.imageButton {
  max-width: 100%;
  margin: 20px;
}
.imageButton .image {
  max-width: inherit;
  position: relative;
}
.imageButton .image img {
  max-width: inherit;
  margin-bottom: -5px;
  top: 0;
  left: 0;
  box-shadow: 0 4px 8px 0 black;
}
.imageButton .image img + img {
  position: absolute;
}
.imageButton .image .topImage {
  transform: rotate(-1deg);
}
.imageButton .image .bottomImage {
  transition: all ease 200ms;
  filter: brightness(0.3);
  transform: rotate(4deg);
}
.imageButton:hover {
  transform: scale(1.05) rotate(-1deg);
}
.imageButton:hover .bottomImage {
  transform: rotate(5deg);
}

/*
@media only screen and (max-width: $largeWidth) {
    .imageButton {
        max-width: 100%;
        margin: getMargin(larger);
    }
}
*/
@font-face {
  font-family: "Cabin";
  src: url("./../fonts/cabin/Cabin-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Cabin";
  src: url("./../fonts/cabin/Cabin-Bold.ttf") format("truetype");
  font-weight: bold;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.menuItem {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  transition: all ease 200ms;
  width: 100%;
}
.menuItem .column {
  display: grid;
  align-content: start;
  width: 100%;
}
.menuItem .column .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuItem .column .image {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.menuItem .column .image img {
  width: 120px;
  -webkit-box-reflect: below 2px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
}
.menuItem .name {
  font-size: 1.2em;
  font-family: "Cabin";
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.menuItem .description {
  text-shadow: 0.1em 0.1em 0.2em black;
}
.menuItem .price {
  color: #cead54;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.menuItem .ingredients {
  margin-top: 5px;
  color: grey;
}

@font-face {
  font-family: "Cabin";
  src: url("./../fonts/cabin/Cabin-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Cabin";
  src: url("./../fonts/cabin/Cabin-Bold.ttf") format("truetype");
  font-weight: bold;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.specialMenuSection {
  margin-top: -4px;
  background: linear-gradient(to bottom right, #D1B464, #8A6E2F);
  color: rgb(41, 41, 41);
  padding: 10px;
  box-shadow: 0 2px 8px black;
}

.menuItemSpecial {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  transition: all ease 200ms;
  border: 4px double black;
  padding: 10px;
}
.menuItemSpecial .column {
  display: grid;
  align-content: start;
}
.menuItemSpecial .column .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.menuItemSpecial .column .image {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.menuItemSpecial .column .image img {
  width: 200px;
}
.menuItemSpecial .label {
  font-size: clamp(3rem, 4vw, 3.5rem);
  font-family: "Dancing Script";
  text-align: left;
  background: black;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menuItemSpecial .name {
  font-size: 1.6em;
  text-shadow: 0.1em 0.1em 0.2em black;
  color: white;
  font-weight: bold;
}
.menuItemSpecial .description {
  margin-top: 5px;
}
.menuItemSpecial .priceSection {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  white-space: nowrap;
}
.menuItemSpecial .price {
  color: lightgrey;
  text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 1em;
  text-decoration: line-through;
}
.menuItemSpecial .discountPrice {
  font-size: 1.6em;
  font-weight: bold;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.menuItemSpecial .ingredients {
  margin-top: 5px;
  color: lightgrey;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.serviceItem {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
  padding: 5px 20px;
  box-shadow: 0 2px 8px black;
  border-radius: 50px;
  background: linear-gradient(to bottom right, rgb(196, 177, 166), rgb(148, 123, 107));
  position: relative;
}
.serviceItem.unavailable:hover {
  transform: none;
  filter: none !important;
}
.serviceItem .unavailable-overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 50px;
  left: 0;
  top: 0;
  position: absolute;
}
.serviceItem .unavailable-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.serviceItem.included {
  background: linear-gradient(to bottom right, lightgrey, grey);
}
.serviceItem.paid {
  background: linear-gradient(to bottom right, #D1B464, #8A6E2F);
}
.serviceItem img {
  width: 42px;
}
.serviceItem .divider {
  margin: 3px 0;
}
.serviceItem .header {
  color: black;
  text-shadow: none;
  font-weight: bold;
}
.serviceItem .underTitle {
  color: rgb(41, 41, 41);
}
.serviceItem:hover {
  transform: scale(1.02);
}

.galleryModal {
  max-height: 100vh;
  overflow: hidden;
}

.galleryModal .image {
  position: relative;
}

.galleryModal .image .topNav {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
}

.galleryModal .image .topNav button {
  z-index: 100;
  pointer-events: all;
}

.galleryModal .image .topNav .arrow {
  background: black;
  opacity: 0.3;
  color: white;
  padding: 5px 2px;
}

.galleryModal .image .topNav .arrow:hover {
  opacity: 0.8;
}

.galleryModal .bottomNav {
  display: flex;
  gap: 5px;
  color: white;
  background: getColor(gradients, steel);
  justify-content: center;
  align-content: center;
  padding: 3px;
  border-top: 1px solid black;
}

.galleryModal .bottomNav .dot {
  font-size: 2.3em;
  line-height: 0;
  padding: 10px 0 15px 0;
}

.galleryModal .bottomNav .dot.active {
  color: getColor(solids, wine);
}

@font-face {
  font-family: "Cabin";
  src: url("./../fonts/cabin/Cabin-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Cabin";
  src: url("./../fonts/cabin/Cabin-Bold.ttf") format("truetype");
  font-weight: bold;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.modal {
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  z-index: 99;
}

.modal .background {
  position: inherit;
  left: inherit;
  top: inherit;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: grid;
  place-content: center;
}

.modal .content {
  box-shadow: 0 4px 8px 0 black;
  border: 4px double rgb(196, 177, 166);
  z-index: 100;
  position: relative;
}

.modal .content .titleBar {
  color: white;
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 3px 3px 0 3px;
}

.modal .content .titleBar .closeButton {
  box-shadow: 0 2px 8px black;
}

.modal .content .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.8);
}

.modal .content .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 2px 8px black;
}

.modal .content .divider::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 990px) {
  .modal .content {
    width: auto;
  }
}
section {
  padding: 10px;
  position: relative;
}

section .anchor {
  display: block;
  position: absolute;
  top: -80px;
  visibility: hidden;
}

section .wrapper {
  padding: 20px;
}

section .wrapper .notice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

section .wrapper .notice .icon {
  width: 25px;
  height: 25px;
  background-size: contain;
}

section:nth-child(odd) {
  background: linear-gradient(to bottom right, rgb(196, 177, 166), rgb(148, 123, 107));
  color: rgb(41, 41, 41);
}

section:nth-child(odd) > .wrapper {
  border-left: 4px double rgb(41, 41, 41);
  border-right: 4px double rgb(41, 41, 41);
}

section:nth-child(odd):first-child > .wrapper {
  border-top: 4px double rgb(41, 41, 41);
}

section:nth-child(odd):last-child > .wrapper {
  border-bottom: 4px double rgb(41, 41, 41);
}

section:nth-child(odd) .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(224, 224, 224, 0.2);
  margin: 0;
}

section:nth-child(odd) .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 2px 8px black;
}

section:nth-child(odd) .divider::after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 4px rgb(136, 119, 108);
}

section:nth-child(odd) .notice {
  color: black;
}

section:nth-child(odd) .notice .icon {
  background-image: url("./../icons/info-black.png");
}

section:nth-child(odd) .title, section:nth-child(odd) .header {
  color: black;
  font-weight: bold;
}

section:nth-child(odd) .title .decoration.left, section:nth-child(odd) .header .decoration.left {
  background-image: url("./../icons/decor2-black-left.png");
}

section:nth-child(odd) .title .decoration.right, section:nth-child(odd) .header .decoration.right {
  background-image: url("./../icons/decor2-black-right.png");
}

section:nth-child(odd) .underTitle {
  color: rgb(41, 41, 41);
}

section:nth-child(even) {
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  color: rgb(196, 177, 166);
}

section:nth-child(even) > .wrapper {
  border-left: 4px double rgb(196, 177, 166);
  border-right: 4px double rgb(196, 177, 166);
}

section:nth-child(even):first-child > .wrapper {
  border-top: 4px double rgb(196, 177, 166);
}

section:nth-child(even):last-child > .wrapper {
  border-bottom: 4px double rgb(196, 177, 166);
}

section:nth-child(even) .title, section:nth-child(even) .header {
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}

section:nth-child(even) .title .decoration.left, section:nth-child(even) .header .decoration.left {
  background-image: url("./../icons/decor2-white-left.png");
}

section:nth-child(even) .title .decoration.right, section:nth-child(even) .header .decoration.right {
  background-image: url("./../icons/decor2-white-right.png");
}

section:nth-child(even) .underTitle {
  color: rgb(196, 177, 166);
}

section:nth-child(even) .notice {
  color: lightgrey;
  text-shadow: 0.1em 0.1em 0.2em black;
}

section:nth-child(even) .notice .icon {
  background-image: url("./../icons/info-white.png");
}

section .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.8);
  margin: 0;
}

section .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 2px 8px black;
}

section .divider::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

section .bigdivider {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

section .bigdivider img {
  max-width: 90%;
  height: auto;
}

.h-divider {
  margin: auto;
  margin-top: -31px;
  margin-bottom: 40px;
  width: 80%;
  position: relative;
}

.h-divider .shadow {
  overflow: hidden;
  height: 20px;
}

.h-divider .shadow:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px black;
}

.h-divider .text {
  width: 100px;
  height: 45px;
  padding: 10px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -33px;
  left: 50%;
  margin-left: -60px;
  border-radius: 100%;
  color: rgb(41, 41, 41);
  box-shadow: 0 2px 4px black;
  background: white;
}

.h-divider .text i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed rgb(41, 41, 41);
  text-align: center;
  line-height: 50px;
  font-style: normal;
  font-family: "Dancing Script";
  font-size: 22px;
  font-weight: bold;
}

.imageModal {
  max-width: 80vw;
  max-height: 100vh;
}

.imageModal img {
  width: 100%;
  max-height: 90vh;
  margin-bottom: -4px;
}

.imageModal.shadow img {
  box-shadow: 0 2px 8px black;
}

@media only screen and (max-width: 880px) {
  .imageModal {
    max-width: 100%;
  }
}
.infoModal {
  width: 900px;
  height: 560px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 3fr;
}

.infoModal .image {
  display: grid;
  justify-content: center;
  align-content: end;
  border-right: 1px solid black;
  z-index: 101;
  overflow-y: hidden;
  padding-top: 10px;
  background-image: url("./../icons/oasis-palm-shade.webp"), linear-gradient(to bottom right, #D1B464, #8A6E2F);
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: inset 2px 0 8px 0 black;
}

.infoModal .image img {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.infoModal .info {
  grid-column: span 3;
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  color: white;
  text-align: center;
  padding: 20px;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  text-shadow: 0.1em 0.1em 0.2em black;
  overflow: auto;
}

.infoModal .info .header {
  color: white;
  font-size: 2.4em;
  font-family: "Dancing Script";
}

.infoModal .info .underTitle {
  color: rgb(196, 177, 166);
}

.infoModal .info .wrapper {
  overflow: auto;
  display: grid;
  align-items: center;
}

.infoModal .info .wrapper a {
  color: white;
}

.infoModal .info .wrapper .body {
  color: lightgrey;
}

.infoModal .info .wrapper .body p {
  margin: 0 0 1em 0;
}

.infoModal .info .footer {
  color: rgb(196, 177, 166);
}

.infoModal .info .footer span {
  justify-content: center;
  gap: 10px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 990px) {
  .infoModal {
    width: 100%;
  }
  .infoModal .image {
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .infoModal .image img {
    display: absolute;
  }
}
@media only screen and (max-width: 880px) {
  .infoModal .image {
    display: none;
  }
}
button {
  all: unset;
}
button :hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-family: "Dancing Script";
  font-size: 1.6em;
  color: lightgrey;
  position: fixed;
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  padding: 5px 0;
  box-shadow: 0 2px 8px black;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 98;
}
.navbar a, .navbar button {
  font-family: "Dancing Script";
  font-size: 1.3em;
  text-decoration: none;
  text-shadow: 0.1em 0.1em 0.2em black;
  color: lightgrey;
}
.navbar a:hover, .navbar button:hover {
  color: white;
}

main {
  width: 1100px;
  box-shadow: 0 2px 8px black;
  margin: 60px auto 10px auto;
}

body {
  margin: 0;
}

@media only screen and (max-width: 1100px) {
  main {
    width: 100%;
    margin-top: 40px;
  }
  .navbar {
    font-size: 1em;
  }
}
@media only screen and (max-width: 363px) {
  main {
    margin-top: 80px;
  }
}
* {
  font-family: "Cabin";
  scroll-behavior: smooth;
}

button, select, a {
  transition: ease all 200ms;
}
button:hover, select:hover, a:hover {
  filter: brightness(1.2) !important;
  cursor: pointer;
}

.header {
  font-size: 1.6em;
  font-family: "Dancing Script";
}

.title {
  margin: 10px 0;
}
.title .header {
  font-size: 2.4em;
  font-family: "Dancing Script";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.title .header img {
  max-width: 100%;
  height: auto;
}
.title .header .icon {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}
.title .header .decoration {
  height: 20px;
  width: 80px;
  background-size: contain;
  background-repeat: no-repeat;
}
.title .underTitle {
  text-align: center;
}
@media only screen and (max-width: 363px) {
  .title .decoration {
    display: none;
  }
}

.background {
  background-image: url("./../images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sectionSelection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.sectionSelection .oldMenuButton {
  background: linear-gradient(to bottom right, lightgrey, grey);
  color: black;
  padding: 5px 10px;
  border-radius: 50px;
  box-shadow: 0 2px 8px black;
}

.infoWithIcon {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: bold;
  color: black;
}

footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  color: lightgrey;
  padding: 10px 0;
  box-shadow: 0 2px 8px black;
  text-shadow: 0.1em 0.1em 0.2em black;
}/*# sourceMappingURL=main.css.map */