@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
.staffModal {
  width: 900px;
  height: 500px;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.staffModal .image {
  background: linear-gradient(to bottom right, lightgrey, grey);
  display: flex;
  justify-content: center;
  border-right: 1px solid black;
  z-index: 101;
  background-image: url("https://cocosoasis.info/cdn/background/background.webp");
  overflow-y: hidden;
  padding-top: 10px;
}
.staffModal .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.staffModal .info {
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  color: white;
  text-align: center;
  padding: 20px;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  box-shadow: inset 2px 0 8px 0 black;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.staffModal .info .header {
  color: white;
  font-size: 42px;
  font-family: "Dancing Script";
}
.staffModal .info .positions {
  color: rgb(196, 177, 166);
}
.staffModal .info .bio {
  display: grid;
  align-content: center;
  color: rgb(196, 177, 166);
}
.staffModal .info .bio p {
  margin: 0 0 1em 0;
}
.staffModal .info .hiredSince {
  color: rgb(196, 177, 166);
}

.staff .collection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
  align-items: end;
}
.staff .collection .item {
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  border-radius: 15px;
  box-shadow: 0 0 8px black;
  border: 1px solid black;
  transition: ease all 200ms;
}
.staff .collection .item:hover {
  transform: scale(1.02);
}
.staff .collection .item .image {
  height: 320px;
  display: grid;
  align-items: end;
  overflow-y: hidden;
}
.staff .collection .item .image img {
  width: 100%;
}
.staff .collection .item .text {
  background: linear-gradient(to bottom right, #D1B464, #8A6E2F);
  padding: 5px;
  text-align: center;
  box-shadow: 0 0 8px black;
  border-radius: 0 0 15px 15px;
  border-top: 1px solid black;
}
.staff .collection .item .text .name {
  color: black;
  font-size: 18px;
  font-family: "Cabin";
  font-weight: bold;
}
.staff .collection .item .text .positions {
  color: rgb(41, 41, 41);
}

.menuItem {
  display: flex;
  margin: 0;
  transition: all ease 200ms;
}
.menuItem .column {
  display: grid;
  align-content: start;
}
.menuItem .column .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuItem .column .image {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.menuItem .column .image img {
  width: 120px;
}
.menuItem .name {
  font-size: 18px;
  font-family: "Cabin";
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.menuItem .description {
  text-shadow: 0.1em 0.1em 0.2em black;
}
.menuItem .price {
  color: #cead54;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.menuItem .ingredients {
  margin-top: 5px;
  color: grey;
}

.menu .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.8);
  margin: 4px 0 2px 0;
}
.menu .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 0 8px black;
}
.menu .divider::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.menu .header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px 0;
  font-size: 42px;
  font-family: "Dancing Script";
  color: white;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.menu .header .decoration {
  height: 20px;
}
.menu .menuList {
  padding: 10px;
}
.menu .menuList .category {
  display: grid;
}
.menu .menuList .category .items {
  display: grid;
}
.menu .menuList .category .items.single {
  grid-gap: 15px;
  grid-template-columns: 1fr;
}
.menu .menuList .category .items.double {
  grid-gap: 10px 20px;
  grid-template-columns: 1fr 1fr;
}

.selectNavWrapper {
  display: flex;
}
.selectNavWrapper .selectNav {
  border-radius: 25px;
}
.selectNavWrapper .selectNav .option {
  padding: 10px 20px;
  font-size: 24px;
  transition: all ease 200ms;
}
.selectNavWrapper .selectNav .option:first-child {
  border-radius: 25px 0 0 25px;
}
.selectNavWrapper .selectNav .option:last-child {
  border-radius: 0 25px 25px 0;
}
.selectNavWrapper .selectNav .option.active {
  background: linear-gradient(to bottom right, #D1B464, #8A6E2F);
  color: black;
  box-shadow: 0 0 8px black;
}
.selectNavWrapper .selectNav .option.inactive {
  box-shadow: inset 0 0 8px black;
}

section {
  padding: 10px;
}
section .wrapper {
  padding: 10px;
}
section:nth-child(odd) {
  background: linear-gradient(to bottom right, rgb(196, 177, 166), rgb(148, 123, 107));
  color: rgb(41, 41, 41);
}
section:nth-child(odd) > .wrapper {
  border-left: 4px double rgb(41, 41, 41);
  border-right: 4px double rgb(41, 41, 41);
}
section:nth-child(odd):first-child > .wrapper {
  border-top: 4px double rgb(41, 41, 41);
}
section:nth-child(odd):last-child > .wrapper {
  border-bottom: 4px double rgb(41, 41, 41);
}
section:nth-child(even) {
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  color: rgb(196, 177, 166);
}
section:nth-child(even) > .wrapper {
  border-left: 4px double rgb(196, 177, 166);
  border-right: 4px double rgb(196, 177, 166);
}
section:nth-child(even):first-child > .wrapper {
  border-top: 4px double rgb(196, 177, 166);
}
section:nth-child(even):last-child > .wrapper {
  border-bottom: 4px double rgb(196, 177, 166);
}

.h-divider {
  margin: auto;
  margin-top: -21px;
  margin-bottom: 40px;
  width: 80%;
  position: relative;
}
.h-divider .shadow {
  overflow: hidden;
  height: 20px;
}
.h-divider .shadow:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px black;
}
.h-divider .text {
  width: 100px;
  height: 45px;
  padding: 10px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -33px;
  left: 50%;
  margin-left: -60px;
  border-radius: 100%;
  color: rgb(41, 41, 41);
  box-shadow: 0 2px 4px black;
  background: white;
}
.h-divider .text i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed rgb(41, 41, 41);
  text-align: center;
  line-height: 50px;
  font-style: normal;
  font-family: "Dancing Script";
  font-size: 22px;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  z-index: 99;
}
.modal .background {
  position: inherit;
  left: inherit;
  top: inherit;
  width: 100vw;
  height: 100vw;
  background: rgba(0, 0, 0, 0.6);
  display: grid;
  place-content: center;
}
.modal .content {
  box-shadow: 0 4px 8px 0 black;
  border: 4px double rgb(196, 177, 166);
  z-index: 100;
}
.modal .content .titleBar {
  color: white;
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 3px 3px 0 3px;
}
.modal .content .titleBar .closeButton {
  box-shadow: 0 0 8px black;
}
.modal .content .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.8);
}
.modal .content .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 0 8px black;
}
.modal .content .divider::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

button {
  all: unset;
}
button :hover {
  cursor: pointer;
}

html {
  background-image: url("https://cocosoasis.info/cdn/background/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 1000px;
  box-shadow: 0 0 8px black;
  margin: 10px auto;
}

* {
  font-family: "Cabin";
}

button:hover, select:hover {
  filter: brightness(1.2) !important;
  cursor: pointer;
}

.sectionSelection {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.sectionSelection .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.8);
  margin: 4px 0 2px 0;
}
.sectionSelection .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 0 8px black;
}
.sectionSelection .divider::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.sectionSelection .decoration {
  height: 80px;
}

.menu .divider {
  margin: 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.8);
  margin: 4px 0 2px 0;
}
.menu .divider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 0 8px black;
}
.menu .divider::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.menu .header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px 0;
  font-size: 42px;
  font-family: "Dancing Script";
  color: white;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.menu .header .decoration {
  height: 20px;
}
.menu .menuList {
  padding: 10px;
}
.menu .menuList .category {
  display: grid;
  margin-bottom: 30px;
}
.menu .menuList .category .header .icon {
  height: 50px;
}
.menu .menuList .category .items {
  display: grid;
}
.menu .menuList .category .items.single {
  grid-gap: 15px;
  grid-template-columns: 1fr;
}
.menu .menuList .category .items.double {
  grid-gap: 10px 20px;
  grid-template-columns: 1fr 1fr;
}/*# sourceMappingURL=main.css.map */