@import "../../../../scss/common/_styles"; 
@import "../../../../scss/common/_fonts"; 
@import "../../../../scss/common/_themes";
@import "../../../../scss/dimensions.scss";

.selectNavWrapper {
    display: flex;
    

    & .selectNav {
        border-radius: 25px;
        
        & .option {
            padding: getPadding(standard) getPadding(large);
            font-size: clamp(1rem, 2vw, 1.5rem);
            transition: all ease 200ms;

            &:first-child {
                border-radius: 50px 0 0 50px;
            }
            &:last-child {
                border-radius: 0 50px 50px 0;
            }
            
    
            &.active {
                background: getColor(gradients, gold);
                color: black;
                box-shadow: getShadow(box, standard);
            }

            &.inactive {
                //background: getColor(solids, dark);
                box-shadow: inset getShadow(box, standard);
                color: grey;
            }
        }
    }
    @media only screen and (max-width: $tinyWidth) {
        & .option {
            padding: 5px 10px !important;
        }
    }
}