@import "../../../../scss/common/_styles"; 
@import "../../../../scss/common/_fonts"; 
@import "../../../../scss/common/_themes";

.selectNav {
    box-shadow: getShadow(box, standard);
    display: flex;

    & .option {

        &.active {
            color: red;
        }
    }
}