@import "../../../../scss/common/_styles"; 
@import "../../../../scss/common/_fonts"; 
@import "../../../../scss/common/_themes";

.selectNavWrapper {
    display: flex;
    

    & .selectNav {
        border-radius: 25px;
        
        & .option {
            padding: getPadding(standard) getPadding(large);
            font-size: getFontSize(larger);
            transition: all ease 200ms;

            &:first-child {
                border-radius: 25px 0 0 25px;
            }
            &:last-child {
                border-radius: 0 25px 25px 0;
            }
            
    
            &.active {
                background: getColor(gradients, gold);
                color: black;
                box-shadow: getShadow(box, standard);
            }

            &.inactive {
                //background: getColor(solids, dark);
                box-shadow: inset getShadow(box, standard);
                color: grey;
            }
        }
    }
}