@import "_MenuItem";
@import "../../../scss/common/_styles"; 
@import "../../../scss/common/_fonts"; 
@import "../../../scss/common/_themes"; 


.menu {
    //background-image: url('./../icons/oasis-palm-shade.webp'), getColor(gradients, steel);
    //background-repeat: no-repeat;

    & .divider {
        @include divider-dark;
        margin: 4px 0 2px 0;
    }

    & .header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: getPadding(standard) 0;
        font-size: getFontSize(title);
        font-family: getFont(cursive);
        color: white;
        text-align:center;
        text-shadow: getShadow(text, standard);

        & .decoration {
            height: 20px;
        }
    }

    & .menuList {
        padding: getPadding(standard);

        & .category {
            display: grid;
            margin-bottom: getMargin(larger);

            & .header {
                & .icon {
                    height: 50px;
                }
            }

            & .items {
                display: grid;
                
                &.single {
                    grid-gap: 15px;
                    grid-template-columns: 1fr;
                }

                &.double {
                    grid-gap: getMargin(standard) getMargin(large);
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }
    
}