@import "./../../../scss/dimensions.scss";
@import "./../../../scss/common/styles";

.staffModal {
    width: 900px;
    height: 500px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    

    & .image {
        display: grid;
        justify-content: center;
        align-content: end;

        border-right: getBorder(solid, black);
        z-index: 101;
        overflow-y: hidden;
        padding-top: getPadding(standard);
        background-image: url('./../icons/oasis-palm-shade.webp'), getColor(gradients, gold);
        background-repeat: no-repeat;
        background-size: contain;
        box-shadow: inset 2px 0 8px 0 black;

       & img {
            width: 100%;
            height: 100%;
            overflow: auto;
       }
    }

    & .info {
        background: getColor(gradients, steel);
        color: white;
        text-align: center;
        padding: getPadding(large);
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        text-shadow: getShadow(text, standard);

        & .header {
            color: white;
            font-size: getFontSize(title);
            font-family: getFont(cursive);
        }

        & .positions {
            color: getColor(solids, light);
        }

        & .bio {
            display: grid;
            align-content: center;
            color: getColor(solids, light);
            
            p {
                margin: 0 0 1em 0;
            }
        }

        & .hiredSince {
            color: getColor(solids, light);
        }
    }

}
@media only screen and (max-width: $width) {
    .staffModal {
        width: 100%;
        height: auto;
    }
}