@use "./common/common" as common;

.home {
    display: grid;
    gap: 5px;
    justify-content: center;

    & .event-banner {
        & img {
            width: 100%;
        }
    }

    & .logo {
        text-align: center;
        
        & img {
            max-width: 80%;
            height: auto;
            margin-bottom: -10px;
        }
        
        & .underTitle {
            font-size: common.getFontSize(larger);
        }
    }

    & .welcome {
        margin: common.getMargin(larger) 0;

        & .header {
            color: black;
            font-family: common.getFont(cursive);
            font-size: clamp(3rem, 4vw, 3.5rem);
            font-weight: bold;
            display: flex;
            justify-content: center;
            justify-items: center;
            align-items: center;
            text-align: center;
            gap: 5px;
            margin: common.getMargin(standard) 0;
        }

        & .linkbar {
            display: flex;
            margin: auto;
            justify-content: center;
            gap: common.getMargin(standard);
            margin-bottom: common.getMargin(standard);
            flex-wrap: wrap;
            
            & a, & button {
                display: flex;
                align-items: center;
                gap: common.getMargin(small);
                padding: 2px common.getPadding(standard);
                text-decoration: none;
                color: lightgrey;
                background: common.getColor(gradients, steel);
                box-shadow: common.getShadow(box, standard);

                &.twitch {
                    background: common.getColor(gradients, twitch);
                }
                &.discord {
                    background: common.getColor(gradients, discord);
                }

                & img {
                    opacity: 0.8;
                }
                &:visited {
                    color: lightgrey;
                }
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }

    & .partners {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto 1fr auto;
        justify-items: center;
        align-items: center;
        margin: 0;
        padding: 0;

        & .intro {
            justify-self: flex-start;
        }
        & .allPartnersButton {
            justify-self: flex-end;
        }
    }

    & .venueInfo {
        display: grid;
        grid-template-columns: 1fr auto;
        font-size: common.getFontSize(large) auto;
        color: black;
        
        & .column {
            display: flex;
            flex-direction: column;
            

            & .row {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                margin: 2px 0 4px 0;
            }
        }
    }

    & .hall-of-fame {

        & .main {
            margin-bottom: 10px;

            & .title, & .description {
                margin: 0;
                text-align: center;
            }

            & .description {
                margin-bottom: 5px;
            }

            & .image {
                display: flex;
                justify-content: center;
                
                & .imageButton {         
                    width: 100%;
                    border: 10px solid common.getColor(solids, dark);
                    box-shadow: common.getShadow(box, standard);
                    padding-bottom: 5px;
                    margin: 0;
                    margin-bottom: 10px;

                    & img {
                        width: 100%;
                    }
                }
            }
        }

        & .gallery {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            & .item {
                margin: 10px;
                word-break: normal;
                
                & .title {
                    margin: 0;
                    text-align: center;
                    font-weight: bold;
                }

                & .description {
                    text-align: center;
                    margin-bottom: 5px;
                }

                & .image {
                    & .imageButton {
                        margin: 0;
                        border: 5px solid common.getColor(solids, dark);
                        box-shadow: common.getShadow(box, standard);
                    }
                }
            }
            
        }
    }

    @media only screen and (max-width: common.$largeWidth) {
        & .venueInfo {
            grid-template-columns: 1fr;

            & .galleryButtonWrapper {
                display: flex;
                justify-content: center;
            }
        }
    }
    @media only screen and (max-width: common.$smallWidth) {
        & .header { 
            & img {
                display: none;
            }
        }
    }
}