@import "./common/_styles"; 
@import "./common/_fonts"; 
@import "./common/_themes"; 


.menuItem {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    transition: all ease 200ms;
    width: 100%;

    & .column {
        display: grid;
        align-content: start;
        width: 100%;
        & .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        & .image {
            display: flex;
            align-items: center;
            margin-right: 10px;

            & img {
                width: 120px;
            }
        }
    }

    & .name {
        font-size: getFontSize(large);
        font-family: getFont(standard);
        color: white;
        text-shadow: getShadow(text, standard);
    }

    & .description {
        text-shadow: getShadow(text, standard);
    }

    & .price {
        color: getColor(solids, gold);
        text-shadow: getShadow(text, standard);
    }

    & .ingredients {
        margin-top: 5px;
        color: grey;
    }
}
