@import "./common/styles";
@import "./common/fonts";


.partners {
    display: flex;
    flex-direction: column;
    gap: getPadding(small);

    & .title {
        text-align: center;

        color: rgb(158, 158, 158) !important;
        text-shadow: none !important;
    }

    & .items {
        display: flex;
        align-content: center;
        justify-content: center;
        gap: getPadding(small);
        flex-wrap: wrap;

        & .item {
            text-decoration: none;
            color: white;
            gap: getPadding(small);
            text-align: center;
            flex-basis: 15%;
            
            &:visited {
                color: white;
            }
    
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}