@import "./common/styles";
@import "./common/fonts";

.services {
    & .servicesTable {
        display: flex;
        gap: getMargin(standard);
        padding: getPadding(standard) 0;
        margin: getMargin(standard) 0;
        flex-wrap: wrap;
    }
}