//Sections
@import "./About";
@import "./Menu";
@import "./Home";
@import "./Partners";
@import "./Services";

//Core Templates
@import "./common/_styles"; 
@import "./common/_fonts"; 
@import "./common/_themes";
@import "./common/_section";
@import "./common/_modal";
@import './common/dimensions.scss';

//TSX Components 
@import "./SelectNav";
@import './ImageModal';
@import './GalleryModal';
@import './GalleryButton';


button {
    all: unset;
    & :hover {
        cursor: pointer;
    }
}

.navbar {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: getMargin(large);
    font-family: getFont(cursive);
    font-size: getFontSize(header);
    color: lightgrey;
    position: fixed;
    background: getColor(gradients, steel);
    padding: getMargin(small) 0;
    box-shadow: getShadow(box, standard);

    width: 100%;
    left: 0;
    top: 0;

    z-index: 98;

    & a, & button {
        font-family: getFont(cursive);
        font-size: getFontSize(larger);
        text-decoration: none;
        text-shadow: getShadow(text, standard);
        color: lightgrey;
        
        &:hover {
            color: white;
        }
    }
}

main {
    width: $width; 
    box-shadow: getShadow(box, standard);
    margin: 60px auto getMargin(standard) auto;
}

body {
    margin: 0;
}

@media only screen and (max-width: $width) {
    main {
      width: 100%;
      margin-top: 40px;
    }
    .navbar {
        //display: none;
        font-size: getFontSize(standard);
    }
}
@media only screen and (max-width: $tinyWidth) {
    main {
      margin-top: 80px;
    }
}

* {
    font-family: getFont(standard);
    scroll-behavior: smooth;
}

button, select, a {
    transition: getTransition(standard);
    &:hover {
        filter: brightness(1.2) !important;
        cursor: pointer;
    }
}

.header {
    font-size: getFontSize(header);
    font-family: getFont(cursive);
}

.title {
    margin: getMargin(standard) 0;

    & .header {
        font-size: getFontSize(title);
        font-family: getFont(cursive);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        & img {
            max-width: 100%;
            height: auto;
        }
        
        & .icon {
            max-width: 100%;
            height: auto;
            overflow:hidden;
        }
        & .decoration {
            height: 20px;
            width: 80px;
            background-size: contain;
            background-repeat: no-repeat;
        }
        
    }

    & .underTitle {
        text-align: center;
    }

    @media only screen and (max-width: $tinyWidth) {
        & .decoration {
            display: none;
        }
    }
}

.background {
    background-image: url('./../images/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.sectionSelection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: getMargin(large);
    flex-wrap: wrap;

    & .oldMenuButton {
        background: getColor(gradients, silver);
        color: black;
        padding: getPadding(small) getPadding(standard);
        border-radius: 50px;
        box-shadow: getShadow(box, standard);
    }
}

.infoWithIcon {
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: bold;
    color: black;
}

footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: getMargin(standard);
    background: getColor(gradients, steel);
    color: lightgrey;
    padding: getPadding(standard) 0;
    box-shadow: getShadow(box, standard);
    text-shadow: getShadow(text, standard);
}

