@import "./../components/book/scss/Book"; 
@import "./../components/staff/scss/Staff";

@import "./common/_styles"; 
@import "./common/_fonts"; 
@import "./common/_themes";
@import "./_section";
@import "./modal";

button {
    all: unset;
    & :hover {
        cursor: pointer;
    }
}

html {
    background-image: url("https://cocosoasis.info/cdn/background/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: 1000px; 
    box-shadow: getShadow(box, standard);
    margin: getMargin(standard) auto;
}

button, select {
    &:hover {
        filter: brightness(1.2) !important;
    }
}

.staffModal {
    width: 900px;
    height: 500px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    

    & .image {
        background: getColor(gradients, silver);
        display: flex;
        justify-content: center;
        border-right: getBorder(solid, black);
        z-index: 101;
        background-image: url("https://cocosoasis.info/cdn/background/background.webp");
        overflow-y: hidden;
        padding-top: getPadding(standard);

       & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
       }
    }

    & .info {
        background: getColor(gradients, steel);
        color: white;
        text-align: center;
        padding: getPadding(large);
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        box-shadow: inset 2px 0 8px 0 black;

        & .header {
            color: white;
            font-size: getFontSize(title);
            font-family: getFont(cursive);
            text-shadow: getShadow(text, standard);
        }

        & .positions {
            color: getColor(solids, light);
        }

        & .bio {
            display: grid;
            align-content: center;
            
            p {
                margin: 0 0 1em 0;
            }
        }

        & .hiredSince {
            color: getColor(solids, light);
        }
    }

}