@import "./../components/staff/scss/Staff";
@import "./../components/menu/scss/Menu";
@import "./../components/common/SelectNav/scss/SelectNav";

@import "./common/_styles"; 
@import "./common/_fonts"; 
@import "./common/_themes";
@import "./_section";
@import "./modal";

button {
    all: unset;
    & :hover {
        cursor: pointer;
    }
}

html {
    background-image: url("https://cocosoasis.info/cdn/background/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: 1000px; 
    box-shadow: getShadow(box, standard);
    margin: getMargin(standard) auto;
}

* {
    font-family: getFont(standard);
}


button, select {
    &:hover {
        filter: brightness(1.2) !important;
    }
}























.menu {
    & .divider {
        @include divider-dark;
        margin: 4px 0 2px 0;
    }

        & .header {
            padding: getPadding(standard) 0;
            font-size: getFontSize(title);
            font-family: getFont(cursive);
            color: white;
            text-align:center;
            text-shadow: getShadow(text, standard);
        }

        & .menuList {
            padding: getPadding(standard);

            & .category {
                display: grid;


                & .items {
                    display: grid;
                    
                    &.single {
                        grid-gap: 15px;
                        grid-template-columns: 1fr;
                    }

                    &.double {
                        grid-gap: getMargin(standard) getMargin(large);
                        grid-template-columns: 1fr 1fr;
                    }
                }
            }
        }
    
}


.menuItem {
    display: flex;
    margin: 0;

    & .column {
        display: grid;
        align-content: start;

        & .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        & .image {
            display: flex;
            align-items: center;
            margin-right: 10px;

            & img{
                width: 120px;
            }
        }
    }



    & .name {
        font-size: getFontSize(large);
        font-family: getFont(standard);
        color: white;
        text-shadow: getShadow(text, standard);
    }

    & .description {
        text-shadow: getShadow(text, standard);
    }

    & .price {
        color: getColor(solids, gold);
        text-shadow: getShadow(text, standard);
    }

    & .ingredients {
        margin-top: 5px;
        color: grey;
        
    }
    
}